* {
    margin: 10px;
    padding: 10px;

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    }
.header {
    background-image: url('seahorse.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 600px;
    display: inline;
    align-items: center;
    justify-content: center;
    color: white;
    }
.header-content {
    text-align: center;
    text-transform: uppercase;
    }
.header-title {
    font-size: 36px;
    margin: 10px;
    color: white;
    display: inline;
    text-decoration: none;
    }
.header-box a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    }
.main-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    }
      
    .section {
        margin-bottom: 30px;
    }
.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    }
    
.options {
    display: flex;
    }
    
.option {
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    }