body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
}

.header {
	background-image: url("images/seahorse.jpg");
	height: 250px;
	padding-top: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
}